# for D2L
**/*/dataset/
**/*/__pycache__/
*/__pycache__/
**/*/*.egg-info
**/*/.venv

# Everything else
.DS_Store
.vscode/
data/*
wandb/
gpt/wikitext-tokenizer.json
gpt/wikitext-train-tokenized.pt
**/checkpoint/