[TYPECHECK]

# List of members which are set dynamically and missed by Pylint inference
# system, and so shouldn't trigger E1101 when accessed.
generated-members=numpy.*, torch.*

[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    C0103, # invalid-name
    W1201, # logging-not-lazy
    W1203, # logging-fstring-interpolation
    R0914, # too-many-locals
